
body {
    color: #113;
    margin: 0;
    padding: 0;
    background-color: #66d2c6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Helvetica, Tahoma, Arial;

}

#welcome_text {
    color: aliceblue;
}

p {
    color: white;
}